@mixin tab-text-styles($color, $font) {
  text-align: left;
  font-size: $font;
  color: $color;
  border-radius: 0;
}

@mixin tab-box-styles($left, $width, $height, $backgroundColor, $property: null, $value: null) {

  @if $property  !=null {
    #{$property}: $value
  }

  background-color: $backgroundColor;
  left: $left;
  width: $width;
  height:  $height;
  top: 571px;
  border-radius: 5px 5px 0px 0px;
  opacity: 1;
}

@mixin search-departure-styles($font, $color) {
  font-size: $font;
  text-align: left;
  color: $color
}

.search-container .col {
  text-align-last: center;
  padding-top: 10px;
}