$margin-tab: 7px;
$size-12: 12px;
$size-14: 14px;
$size-16: 16px;
$size-18: 18px;
$pr-0: 0;
$pl-0: 0;
$text-align-last-left: left;
$text-align-last-right: right;
$text-right: right;
$text-left: left;
$Inter-font: 'Inter', sans-serif;
$poppins-font: 'poppins', sans-serif;